---
#1.1. Теоретический материал – Библиотека NumPy


---


***NumPy*** (NumericalPython) - это библиотека Python с открытым
исходным кодом, которая используется практически во всех областях науки
и техники. Это универсальный стандарт для работы с числовыми данными в
Python.

Если у вас уже есть Python, вы можете установить NumPy с помощью
командной строки:

*pip install numpy*

Чтобы начать использовать NumPy необходимо импортировать
соответствующую библиотеку:

*import numpy as np*

Основным объектом NumPy является однородный многомерный
массив (в numpy называется numpy.ndarray). Это многомерный массив
элементов (обычно чисел), одного типа.


---


Наиболее важные атрибуты объектов ndarray:

**ndarray.ndim** - число измерений (чаще их называют "оси") массива.

**ndarray.shape** - размеры массива, его форма. Это кортеж натуральных
чисел, показывающий длину массива по каждой оси. Для матрицы из n строк
и m столбов, shape будет (n,m). Число элементов кортежа shape равно ndim.

**ndarray.size** - количество элементов массива. Очевидно, равно
произведению всех элементов атрибута shape.

**ndarray.dtype** - объект, описывающий тип элементов массива. Можно
определить dtype, используя стандартные типы данных Python. NumPy здесь
предоставляет целый букет возможностей, как встроенных, например: bool_,
character, int8, int16, int32, int64, float8, float16, float32, float64, complex64, object_, так и возможность определить собственные типы данных, в том
числе и составные.

**ndarray.itemsize** - размер каждого элемента массива в байтах.

**ndarray.data** - буфер, содержащий фактические элементы массива.
Обычно не нужно использовать этот атрибут, так как обращаться к
элементам массива проще всего с помощью индексов.

---


Подробнее о массивах в NumPy можно найти в официальной
документации https://numpy.org/doc/stable/user/absolute_beginners.html



---


## 1.2.1. Пример


---


**Задача:**
Создать массив 5x2. Создать массив 5x2. Вывести все значения массива,
значение элемента с индексом (3,1) и второй столбец. Индексация
начинается с нуля.

**Решение:**

In [ ]:
import numpy as np

x = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
print(x)
print(x[3][1])
print(x[1])

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]
8
[3 4]



---


## 1.2.2. Пример

---

**Задача:**
Пример. Выполнить следующее:
1. Создать вектор (одномерный массив) размера 10, заполненный
нулями.
2. Создать вектор размера 10, заполненный единицами.
3. Создать вектор размера 10, заполненный заданным числом.
4. Создать вектор со значениями от 10 до 19.

**Решение:**

In [ ]:
import numpy as np

a = np.zeros(10)
b = np.ones(10)
c = np.full(10, 5)
d = np.arange(10, 20)
print(a, "\n", b, "\n", c, "\n", d)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [5 5 5 5 5 5 5 5 5 5]
 [10 11 12 13 14 15 16 17 18 19]



---


## 1.2.3. Пример

---

**Задача:**
Создать массив 10x10 со случайными значениями, найти минимум,
максимум и среднее значение.

**Решение:**

In [ ]:
import numpy as np

Z = np.random.random((10, 10))
Zmin, Zmax, Zmean = Z.min(), Z.max(), Z.mean()
print(Zmin, Zmax, Zmean)

0.01193671114058914 0.9722106833199344 0.5030539260443914



---


## 1.2.4. Пример

---

**Задача:**
Задать матрицу размерности 5 на 5 и поменять 2 строки в матрице
местами.

**Решение:**

In [ ]:
import numpy as np

A = np.arange(25).reshape(5, 5)
A[[0, 1]] = A[[1, 0]]
print(A)

[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

---
## 1.2.5. Пример

---

**Задача:**
Выяснить результат следующих выражений:

0 * np.nan

np.nan == np.nan

np.inf > np.nan

np.nan - np.nan

0.3 == 3 * 0.1


**Решение:**

In [ ]:
import numpy as np

print(0 * np.nan)
print(np.nan == np.nan)
print(np.inf > np.nan)
print(np.nan - np.nan)
print(0.3 == 3 * 0.1)

nan
False
False
nan
False

---
## 1.2.6. Пример

---

**Задача:**
Отсортировать массив.

**Решение:**

In [ ]:
import numpy as np

arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
print(np.sort(arr))

[1 2 3 4 5 6 7 8]

---
## 1.3.1. Задание
---
**Задача:**
Создать 8x8 матрицу и заполнить её в шахматном порядке нулями и
единицами.

**Решение:**

In [ ]:
import numpy as np

A = np.zeros((8,8))
A[1::2,::2] = 1
A[::2,1::2] = 1
print(A)

[[0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]]

---
## 1.3.2. Задание
---
**Задача:**
Создать 5x5 матрицу со значениями в строках от 0 до 4. Для создания
необходимо использовать функцию arrange.

**Решение:**

In [ ]:
import numpy as np

x = np.zeros((5,5))
x += np.arange(5)
print(x)

[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

---
## 1.3.3. Задание
---
**Задача:**
Создать массив 3x3x3 со случайными значениями.

**Решение:**

In [ ]:
import numpy as np

A = np.random.random((3,3,3))
print(A)

[[[0.59319046 0.317939   0.40086206]
  [0.0510031  0.54291701 0.38185395]
  [0.81388256 0.40035706 0.4677383 ]]

 [[0.15091157 0.20895472 0.7857775 ]
  [0.87323917 0.19088894 0.14157313]
  [0.12884811 0.36307444 0.88952974]]

 [[0.05871745 0.04349263 0.83094428]
  [0.27089365 0.78312397 0.25675516]
  [0.74589111 0.92518133 0.50373058]]]

---
## 1.3.4. Задание
---
**Задача:**
Создать матрицу с 0 внутри, и 1 на границах.

**Решение:**

In [ ]:
import numpy as np

A = np.ones((5,5))
A[1:-1,1:-1] = 0
print(A)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

---
## 1.3.5. Задание
---
**Задача:**
Создайте массив и отсортируйте его по убыванию.

**Решение:**

In [ ]:
import numpy as np

arr = np.random.randint(1, 15, 10)
print(arr)
print(np.sort(arr)[::-1])

[ 4  2 10 10 10  9  6  4 12 14]
[14 12 10 10 10  9  6  4  4  2]

---
## 1.3.6. Задание
---
**Задача:**
Создайте матрицу, выведите ее форму, размер и размерность.

**Решение:**

In [ ]:
print('Введите количество строк')
m = int(input())
print('Введите количество столбцов')
n = int(input())

A = np.arange(m*n).reshape(m, n)
print(A)

if m == n:
  print('Квадратная матрица', 'размера', m, 'на', n, 'и размерностью', m, 'x', n)
else:
  print('Прямоугольная матрица', 'размера', m, 'на', n, 'и размерностью', m, 'x', n)

Введите количество строк

KeyboardInterrupt: Interrupted by user



---


#2.1. Теоретический материал – Библиотека Pandas


---


Первым шагом в любом начинании в области машинного обучения
является введение исходных данных в систему. Исходные данные могут
вводиться вручную, содержаться в файле или храниться в интернете в каком-
либо формате. Кроме того, часто требуется получить данные из нескольких
источников.


---


Библиотека **pandas** – это удобный и быстрый инструмент для работы
с данными, обладающий большим функционалом. Если очень кратко, то
pandas – это библиотека, которая предоставляет очень удобные с точки
зрения использования инструменты для хранения данных и работе с ними.

Библиотека pandas присутствует в стандартной поставке Anaconda.
Если же ее там нет, то его можно установить отдельно. Для этого введите
командной строке:

*pip install pandas*

Для импорта библиотеки используйте команду:

*import pandas as pd*

Библиотека pandas предоставляет две ключевые структуры данных:
**Series и DataFrame.**

**Series** – это одномерная структура данных, ее можно представить, как
таблицу с одной строкой. С Series можно работать как с обычным массивом
(обращаться по номеру индекса), и как с ассоциированным массивом, когда
можно использовать ключ для доступа к элементам данных.

**DataFrame** – это двумерная структура. Идейно она очень похожа на
обычную таблицу, что выражается в способе ее создания и работе с ее
элементами.



---
## 2.2.1. Пример
---

**Задача:**
Создать Series из списка Python, словаря Python, и массива Numpy
(установить буквенные метки для последнего).

**Решение:**

In [ ]:
import pandas as pd

lst = [1, 2, 3, 4, 5]
d = {'a':1, 'b':2, 'c':3}
ndarr = np.array([1, 2, 3, 4, 5])

s1 = pd.Series(lst)
s2 = pd.Series(d)
s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])

print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

---
## 2.2.2. Пример
---
**Задача:**
Дано два Series. Напечатать их первые элементы и все элементы после
третьего (во втором фрейме).

**Решение:**

In [ ]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([5, 4, 3, 2, 1])
print(s1['a'])
print(s2[0])
print(s2[3:])

1
5
3    2
4    1
dtype: int64

---
## 2.2.3. Пример
---
**Задача:**
Создайте новый фрейм данных.

**Решение:**

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Имя'] = ['Джеки Джексон', 'Стивен Стивенсон']
dataframe['Возраст'] = [38, 25]
dataframe['Водитель'] = [True, False]
dataframe

                Имя  Возраст  Водитель
0     Джеки Джексон       38      True
1  Стивен Стивенсон       25     False

---
## 2.2.4. Пример.
---
**Задача:**
Загрузите фрейм данных по ссылке:
https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv

**Решение:**

In [ ]:
import pandas as pd

# Создать URL-адрес
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'
# Загрузить данные
dataframe = pd.read_csv(url)
# Показать пять строк
dataframe.head(5)

HTTPError: HTTP Error 404: Not Found

---
## 2.2.5. Пример
---
**Задача:**
Пронализировать характеристики фрейма данных.

**Решение:**
Одна из самых простых вещей, которые мы можем сделать после
загрузки данных, – это взглянуть на первые несколько строк с помощью
метода head. На последние строки можно посмотреть с помощью
функции tail. Мы также можем взглянуть на количество строк и
столбцов: dataframe.shape. Кроме того, используя метод describe, мы
можем получить описательную статистику для любых числовых
столбцов.


---


Более подробно с возможностями работы с фреймами данных
можно узнать по ссылке ниже:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [ ]:
import pandas as pd

dataframe.head(2)
dataframe.tail(3)
dataframe.shape
dataframe.describe()

              Age     Survived      SexCode
count  756.000000  1313.000000  1313.000000
mean    30.397989     0.342727     0.351866
std     14.259049     0.474802     0.477734
min      0.170000     0.000000     0.000000
25%     21.000000     0.000000     0.000000
50%     28.000000     0.000000     0.000000
75%     39.000000     1.000000     1.000000
max     71.000000     1.000000     1.000000

---
## 2.2.6. Пример
---
**Задача:**
Выберите индивидуальные данные или срезы фрейма данных.

**Решение:**
Для выбора одной или нескольких строк, либо значений, можно
использовать методы 1ос или iloc.

In [ ]:
import pandas as pd

dataframe.iloc[1:4]

,Name,PClass,Age,Sex,Survived,SexCode
1,"Allison, Miss Helen Loraine",1st,2.0,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.0,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.0,female,0,1

---
## 2.2.7. Пример
---
**Задача:**
Требуется отобрать строки фрейма данных на основе некоторого
условия. Необходимо сформировать новый фрейм данных из пассажиров
первого класса.

**Решение:**

In [1]:
import pandas as pd

dataframe[dataframe['PClass'] == '1st'].head(2)

NameError: name 'dataframe' is not defined

---
## 2.3.1. Задание
---
**Задача:**
Найдитн евклидово расстояние между двумя Series (точками) a и b, не
используя встроенную формулу.

**Решение:**

In [ ]:
import pandas as pd

a = pd.Series([2, 6, 3, 8])
b = pd.Series([1, 9, 4, 7])

sum((a - b)**2)**0.5

3.4641016151377544

---
## 2.3.2. Задание
---
**Задача:**
Найдите в Интернете ссылку на любой csv файл и сформируйте из него
фрейм данных (например, коллекцию фреймов данных можно найти
здесь: https://github.com/akmand/datasets).

**Решение:**

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/akmand/datasets/main/adult.csv'
dataframe = pd.read_csv(url)
dataframe.head(5)

,age,workclass,education_num,marital_status,occupation,relationship,race,gender,hours_per_week,native_country,capital,income_status
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,2174,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,0,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,0,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Other,Male,40,United-States,0,<=50K
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Other,Female,40,Other,0,<=50K

---
## 2.3.3. Задание
---
**Задача:**
Проделайте с получившемся из предыдущего задания фреймом данных
те же действия, что и в примерах 2.2.5-2.2.7.

**Решение:**

In [ ]:
import pandas as pd

dataframe.head(2)
dataframe.tail(3)
dataframe.shape
dataframe.describe()

                age  education_num  hours_per_week       capital
count  45222.000000   45222.000000    45222.000000  45222.000000
mean      38.547941      10.118460       40.938017   1012.834925
std       13.217870       2.552881       12.007508   7530.315380
min       17.000000       1.000000        1.000000  -4356.000000
25%       28.000000       9.000000       40.000000      0.000000
50%       37.000000      10.000000       40.000000      0.000000
75%       47.000000      13.000000       45.000000      0.000000
max       90.000000      16.000000       99.000000  99999.000000

In [ ]:
import pandas as pd

dataframe.iloc[1:4]

,age,workclass,education_num,marital_status,occupation,relationship,race,gender,hours_per_week,native_country,capital,income_status
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,0,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,0,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Other,Male,40,United-States,0,<=50K

In [ ]:
import pandas as pd

dataframe[dataframe['gender'] == 'Female'].head(5)

,age,workclass,education_num,marital_status,occupation,relationship,race,gender,hours_per_week,native_country,capital,income_status
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Other,Female,40,Other,0,<=50K
5,37,Private,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,0,<=50K
6,49,Private,5,Married-spouse-absent,Other-service,Not-in-family,Other,Female,16,Other,0,<=50K
8,31,Private,14,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,14084,>50K
12,23,Private,13,Never-married,Adm-clerical,Own-child,White,Female,30,United-States,0,<=50K



---


#3.1. Теоретический материал – Работа с числовыми данными

---


**Количественные данные** что-то измеряют – будь то размер класса,
ежемесячные продажи или оценки учащихся. Естественным способом
представления этих величин является численным (например, 150 студентов,
$529 392 продаж).

**Нормализация данных** — это общепринятая задача предобработки в
машинном обучении. Многие алгоритмы предполагают, что все признаки
находятся в единой шкале, как правило, от 0 до 1 или от -1 до 1.

Существует множество способов нормализации значений признаков,
чтобы масштабировать их к единому диапазону и использовать в различных
моделях машинного обучения. В зависимости от используемой функции, их
можно разделить на 2 большие группы: линейные и нелинейные. При
нелинейной нормализации в расчетных соотношениях используются
функции логистической сигмоиды или гиперболического тангенса. В
линейной нормализации изменение переменных осуществляется
пропорционально, по линейному закону.

На практике наиболее распространены следующие методы
нормализации признаков:

* Минимакс – линейное преобразование данных в диапазоне [0..1], где
минимальное и максимальное масштабируемые значения
соответствуют 0 и 1 соответственно;
* Z-масштабирование данных на основе среднего значения и
стандартного отклонения: производят деление разницы между
переменной и средним значением на стандартное отклонение.
При масштабировании данных мы будем использовать одну из
популярных библиотек машинного обучения Scikit-learn. Библиотека
содержит пакет sklearn.preprocessing, который предоставляет широкие
возможности для нормализации данных. Следует отметить, что в целом
алгоритмы обучения выигрывают от стандартизации набора данных.

---
## 3.2.1. Пример
---
**Задача:**
Прошкалируйте числовой признак в диапазон между двумя значениями.

**Решение:**

In [ ]:
# Загрузить библиотеки
import numpy as np
from sklearn import preprocessing

# Создать признак
feature = np.array([[-500.5], [-100.1], [0], [100.1], [900.9]])
# Создать шкалировщик
minmax_scale = preprocessing.MinMaxScaler(feature_range = (0, 1))

# Прошкалировать признак
scaled_feature = minmax_scale.fit_transform(feature)

# Показать прошкалированный признак
scaled_feature

array([[0.        ],
       [0.28571429],
       [0.35714286],
       [0.42857143],
       [1.        ]])

---
## 3.2.2. Пример
---
**Задача:**
Преобразуйте признак, чтобы он имел среднее значение 0 и стандартное
отклонение 1.

**Решение:**

In [ ]:
# Загрузить библиотеки
import numpy as np
from sklearn import preprocessing

# Создать признак
x = np.array([[-1000.1], [-200.2], [500.5], [600.6], [9000.9]])
# Создать шкалировщик
scaler = preprocessing.StandardScaler()
# Преобразовать признак
standardized = scaler.fit_transform(x)
# Показать признак
standardized

array([[-0.76058269],
       [-0.54177196],
       [-0.35009716],
       [-0.32271504],
       [ 1.97516685]])

In [ ]:
print("Среднее:", round(standardized.mean()))
print("Стандартное отклонение:", standardized.std())

Среднее: 0
Стандартное отклонение: 1.0

---
## 3.2.3 Пример
---
**Задача:**
Дан фрейм данных
dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],
'B':[103.02,107.26,110.35,114.23,114.68],
'C':['big','small','big','small','small']})

Необходимо масштабировать его числовые столбцы.

**Решение:**

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
dfTest = pd.DataFrame({'A':[14.00, 90.20, 90.95, 96.27, 91.21],
                       'B':[103.02, 107.26, 110.35, 114.23, 114.68],
                       'C':['big', 'small', 'big', 'small', 'small']})

dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])
dfTest

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

---
## 3.3.2. Задание
---
**Задача:**
Необходимо выполнить нормализацию первого числового признака
(sepal_length_cm) с использованием минимаксного преобразования, а
второго (sepal_width_cm) с задействованием z-масштабирования.


---

Загрузить фрейм данных по ссылке:
https://raw.githubusercontent.com/akmand/datasets/master/iris.csv.

---


**Решение:**

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# создание фрейма данных
url = 'https://raw.githubusercontent.com/akmand/datasets/master/iris.csv'
dataframe = pd.read_csv(url)
# нормализация первого числового признака (sepal_length_cm) с использованием минимаксного преобразования
scaler1 = MinMaxScaler()
dataframe[['sepal_length_cm']] = scaler1.fit_transform(dataframe[['sepal_length_cm']])
# нормализация второго числового признака (sepal_width_cm) с задействованием z-масштабирования
scaler2 = StandardScaler()
dataframe[['sepal_width_cm']] = scaler2.fit_transform(dataframe[['sepal_width_cm']])

dataframe

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,species
0,0.222222,1.032057,1.4,0.2,setosa
1,0.166667,-0.124958,1.4,0.2,setosa
2,0.111111,0.337848,1.3,0.2,setosa
3,0.083333,0.106445,1.5,0.2,setosa
4,0.194444,1.263460,1.4,0.2,setosa
...,...,...,...,...,...
145,0.666667,-0.124958,5.2,2.3,virginica
146,0.555556,-1.281972,5.0,1.9,virginica
147,0.611111,-0.124958,5.2,2.0,virginica
148,0.527778,0.800654,5.4,2.3,virginica
149,0.444444,-0.124958,5.1,1.8,virginica